body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background-color: #0a0a0a;
  font-family: Arial, sans-serif;
}

#game-container {
  position: relative;
  width: 360px;
  height: 400px;
  border: 2px solid black;
  border-radius: 10px;
  background: repeating-linear-gradient(to right, #00ffff, rgb(155, 252, 252));

  overflow: hidden;
  animation: 3s linear infinite;
}

#road {
  position: absolute;
  bottom: 0;
  width: 200%;
  height: 50px;
  background: repeating-linear-gradient(
    to right,
    #d8d6d6,
    #6c757d 20px,
    #343a40 20px,
    #343a40 40px
  );
  animation: move-road 3s linear infinite;
}

#ball {
  position: absolute;
  bottom: 50px; /* Above the road */
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 2px 5px 5px;
  width: 30px;
  height: 30px;
  background-color: red;
  border: #fff solid 1px;
  border-radius: 50%;
  animation: bounce 1s ease-in-out infinite;
}

/* Ball bounce animation */
@keyframes bounce {
  0%,
  100% {
    transform: translate(-50%, 0px); /* Ground level */
  }
  50% {
    transform: translate(-50%, -180px); /* Peak height */
  }
}

/* Road movement animation */
@keyframes move-road {
  from {
    transform: translateX(0);
    box-shadow: 2px -3px 5px;
  }
  to {
    transform: translateX(-50%);
    box-shadow: 2px -3px 5px;
  }
}

#controls {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Three columns of equal width */
  grid-gap: 5px; /* Space between buttons */
  justify-items: center; /* Center items horizontally */
  width: 360px; /* Adjust to fit your app */
}

button {
  padding: 10px 15px;
  width: 120px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}
